<?xml version="1.0"?>
<beans
 xmlns="http://www.springframework.org/schema/beans"
 xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
 xmlns:context="http://www.springframework.org/schema/context"
 xmlns:p="http://www.springframework.org/schema/p"
 xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee 
 http://xmlns.jcp.org/xml/ns/javaee/beans_2_0.xsd
 http://www.springframework.org/schema/beans
 http://www.springframework.org/schema/beans/spring-beans.xsd
 http://www.springframework.org/schema/context
 http://www.springframework.org/schema/context/spring-context.xsd" >
 
 	<!-- To Enable all the annotation -->
<!--   <context:annotation-config/> --> 

<!--it enable the preconstruct and postdestruct annotaion only  -->
<bean class="org.springframework.context.annotation.CommonAnnotationBeanPostProcessor" />

		<!-- init-method="init" destroy-method="destroy" -->
 <bean class="com.springcore.lifecycle.Samosa" name="s1"  >
<property name="price" value="10" />
	
 </bean> 
 
 <bean class="com.springcore.lifecycle.Pepsi" name="p1" >
 	<property name="price" value="5" />
 </bean> 	
 
 <bean class="com.springcore.lifecycle.Vadapav" name="v1">
 	<property name="price" value="15"/>
 </bean>
 
 
</beans>